In [1]:
import time
from numpy import random
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:

# https://www.geeksforgeeks.org/python-program-for-bubble-sort/
# Bubble Sort
def bubblesort(elements):
  # Looping n-1 times
  for n in range(len(elements)-1, 0, -1):
    # Loop is short 1 each time as the other eleement is sorted
    for i in range(n):
      # Comparing each element  with the element beside 
      if elements[i] > elements[i + 1]:
        # Swapping out of order with the largest element to the right
        elements[i], elements[i + 1] = elements[i + 1], elements[i]
  return elements

In [3]:
# Computational Thinking with Algorithms - Week 8 - Sorting Algorithms Part 2
# https://runestone.academy/ns/books/published/pythonds3/SortSearch/TheSelectionSort.html
# Selection Sort

def selection_sort(arr):
    n = len(arr)
    for outer in range(0,n,1):
        min = outer
        #print(f"outer is {outer}")
        for inner in range(outer+1,n,1):
            if arr[inner] < arr[min]:
                min = inner
                
        #print(f"min is {min}")
        #print(f"swapping {arr[outer]} and {arr[min]}")
        temp = arr[outer]
        arr[outer] = arr[min]
        arr[min] = temp

In [4]:
# 6.9. The Insertion Sort
# https://runestone.academy/ns/books/published/pythonds3/SortSearch/TheInsertionSort.html

def insertion_sort(a_list):
    for i in range(1, len(a_list)):
        cur_val = a_list[i]
        cur_pos = i

        while cur_pos > 0 and a_list[cur_pos - 1] > cur_val:
            a_list[cur_pos] = a_list[cur_pos - 1]
            cur_pos = cur_pos - 1
        a_list[cur_pos] = cur_val

In [5]:
# https://www.geeksforgeeks.org/iterative-merge-sort/
# Recursive Python Program for merge sort
 
def merge(left, right):
    if not len(left) or not len(right):
        return left or right
 
    result = []
    i, j = 0, 0
    while (len(result) < len(left) + len(right)):
        if left[i] < right[j]:
            result.append(left[i])
            i+= 1
        else:
            result.append(right[j])
            j+= 1
        if i == len(left) or j == len(right):
            result.extend(left[i:] or right[j:])
            break
 
    return result
 
def mergesort(list):
    if len(list) < 2:
        return list
 
    middle = int(len(list)/2)
    left = mergesort(list[:middle])
    right = mergesort(list[middle:])
 
    return merge(left, right)

In [6]:
#Nsizes = [100,250,500,750,1000,1250,2500]
Nsizes = [100,250,500,750]

algos = [bubblesort, selection_sort, insertion_sort, mergesort]

algorythm = algos[0]

#print(type(algorythm))

In [7]:
# Create a timer using a while loop
# Extracted from CTA Project Specification
def timer(x,y):
    i = 0
    totaltime = 0
    #algorythm = algos[0]
    getarray = random.randint(100, size=(x))
    # Begin 10 runs for algorithm
    while i < 10:
        start_time = time.time()
        # call your function

        y(getarray)
        
        # print("##############################\n")
        end_time = time.time()
        
        time_elapsed = end_time - start_time
        # print("##############################\n")
        #print("Time Difference : " + str(time_elapsed))
        
        totaltime = totaltime + time_elapsed
        #print("Adding time Difference : " + str(totaltime))
        i = i + 1
        #print("Pass number: " + str(i))
        # return time_elapsed
    # print("Total time: " + str(round(totaltime, 3)) + " " + str(x))
    getavgtime = totaltime/10
    print(str(getavgtime))
    #algotimed = str(round(getavgtime, 3))
    #print("Average time Decimal place: " + str(y.__name__) + " " + algotimed + " with an array lenght " + str(x))
    
    return getavgtime

In [8]:
a_dict = {}

In [10]:
# https://www.oreilly.com/library/view/python-cookbook/0596001673/ch01s15.html
for x, y in [(x,y) for x in Nsizes for y in algos]:
    #print(timer(x,y))
    
    timed = timer(x,y)
    print(str(y.__name__) + " " + str(timed) + "  " + str(x))

    if x in a_dict:
        a_dict[x].append(timed)
    else:
        a_dict[x] = [timed]

    

print(a_dict)

0.0015086650848388672
bubblesort 0.0015086650848388672  100
0.001199960708618164
selection_sort 0.001199960708618164  100
9.982585906982422e-05
insertion_sort 9.982585906982422e-05  100
0.000500178337097168
mergesort 0.000500178337097168  100
0.008599948883056641
bubblesort 0.008599948883056641  250
0.007300257682800293
selection_sort 0.007300257682800293  250
0.0007995843887329101
insertion_sort 0.0007995843887329101  250
0.0013003826141357421
mergesort 0.0013003826141357421  250
0.033829760551452634
bubblesort 0.033829760551452634  500
0.029299497604370117
selection_sort 0.029299497604370117  500
0.002799534797668457
insertion_sort 0.002799534797668457  500
0.0025014877319335938
mergesort 0.0025014877319335938  500
0.07640931606292725
bubblesort 0.07640931606292725  750
0.06571388244628906
selection_sort 0.06571388244628906  750
0.005800390243530273
insertion_sort 0.005800390243530273  750
0.004499459266662597
mergesort 0.004499459266662597  750
0.1410979986190796
bubblesort 0.1410979986190796  1000
0.11491556167602539
selection_sort 0.11491556167602539  1000
0.011924028396606445
insertion_sort 0.011924028396606445  1000
0.0059550762176513675
mergesort 0.0059550762176513675  1000
0.21073672771453858
bubblesort 0.21073672771453858  1250
0.182252836227417
selection_sort 0.182252836227417  1250
0.018317437171936034
insertion_sort 0.018317437171936034  1250
0.007600188255310059
mergesort 0.007600188255310059  1250
0.8608339309692383
bubblesort 0.8608339309692383  2500
0.7330337524414062
selection_sort 0.7330337524414062  2500
0.08863193988800049
insertion_sort 0.08863193988800049  2500
0.016428041458129882
mergesort 0.016428041458129882  2500
{100: [0.0015086650848388672, 0.001199960708618164, 9.982585906982422e-05, 0.000500178337097168], 250: [0.008599948883056641, 0.007300257682800293, 0.0007995843887329101, 0.0013003826141357421], 500: [0.033829760551452634, 0.029299497604370117, 0.002799534797668457, 0.0025014877319335938], 750: [0.07640931606292725, 0.06571388244628906, 0.005800390243530273, 0.004499459266662597], 1000: [0.1410979986190796, 0.11491556167602539, 0.011924028396606445, 0.0059550762176513675], 1250: [0.21073672771453858, 0.182252836227417, 0.018317437171936034, 0.007600188255310059], 2500: [0.8608339309692383, 0.7330337524414062, 0.08863193988800049, 0.016428041458129882]}

In [11]:
print(a_dict[100])

[0.0015086650848388672, 0.001199960708618164, 9.982585906982422e-05, 0.000500178337097168]

In [12]:
data = []
df = pd.DataFrame(data)
df

Empty DataFrame
Columns: []
Index: []

In [13]:
for x in Nsizes:
    insert = a_dict[x]
    df[x] = insert

In [15]:
df.dtypes

100     float64
250     float64
500     float64
750     float64
1000    float64
1250    float64
2500    float64
dtype: object

In [24]:
df

       100     250       500       750       1000      1250      2500
0  0.001509  0.0086  0.033830  0.076409  0.141098  0.210737  0.860834
1  0.001200  0.0073  0.029299  0.065714  0.114916  0.182253  0.733034
2  0.000100  0.0008  0.002800  0.005800  0.011924  0.018317  0.088632
3  0.000500  0.0013  0.002501  0.004499  0.005955  0.007600  0.016428

In [25]:
df2 = df.round(3)
df2

    100    250    500    750    1000   1250   2500
0  0.002  0.009  0.034  0.076  0.141  0.211  0.861
1  0.001  0.007  0.029  0.066  0.115  0.182  0.733
2  0.000  0.001  0.003  0.006  0.012  0.018  0.089
3  0.001  0.001  0.003  0.004  0.006  0.008  0.016

In [27]:
df2.insert(0, "Size", ['Bubble Sort', 'Selection Sort', 'Insertion Sort', 'Merge Sort'], True)

In [28]:
df2

             Size    100    250    500    750   1000   1250   2500
0     Bubble Sort  0.002  0.009  0.034  0.076  0.141  0.211  0.861
1  Selection Sort  0.001  0.007  0.029  0.066  0.115  0.182  0.733
2  Insertion Sort  0.000  0.001  0.003  0.006  0.012  0.018  0.089
3      Merge Sort  0.001  0.001  0.003  0.004  0.006  0.008  0.016